<app-sidebar-provider>
  <app-sidebar>
    <app-sidebar-header>
      <app-sidebar-menu>
        <app-sidebar-menu-item>
          <a app-sidebar-menu-button>
            EMS
          </a>
        </app-sidebar-menu-item>
      </app-sidebar-menu>
    </app-sidebar-header>

    <app-sidebar-content>
      <app-sidebar-group>
        <app-sidebar-group-label>Main</app-sidebar-group-label>
        <app-sidebar-menu>
          <app-sidebar-menu-item>
            <a app-sidebar-menu-button [active]="router.url.includes('/dashboard')" [routerLink]="'/dashboard'">
              <lucide-angular [img]="LayoutDashboard" class="icon" />
              <span>Dashboard</span>
            </a>
          </app-sidebar-menu-item>

          <app-sidebar-menu-item>
            <a app-sidebar-menu-button [active]="router.url.includes('/events')" [routerLink]="'/events'">
              <lucide-angular [img]="CalendarRange" class="icon" />
              <span>Events</span>
            </a>
          </app-sidebar-menu-item>
        </app-sidebar-menu>
      </app-sidebar-group>
    </app-sidebar-content>
  </app-sidebar>

  <app-sidebar-inset>
    <admin-layout-header></admin-layout-header>

    <router-outlet />
  </app-sidebar-inset>
</app-sidebar-provider>
