<div class="event-calendar">
  <full-calendar [options]="calendarOptions()">
    <ng-template #eventContent let-arg>
      <div class="w-full rounded-sm flex overflow-hidden mt-1">
        <div [attr.class]="'bg-[#' + arg.event.backgroundColor + '] w-full px-2 py-2'">
          <p class="text-sm font-semibold">{{ arg.event.title }}</p>
          <p class="text-xs text-ellipsis truncate">
            {{dateService.formatDateTimeRange(arg.event.start, arg.event.end)}}
          </p>
        </div>
      </div>
    </ng-template>
  </full-calendar>
</div>
