<div class="event-calendar">
  <full-calendar [options]="calendarOptions()">
    <ng-template #eventContent let-arg>
      <div class="px-2 w-full">
        <div class="w-full rounded-sm flex overflow-hidden">
          <div class="bg-primary w-[4px] h-auto"></div>
          <div class="bg-secondary w-full px-2 py-2">
            <p class="text-sm"><b>{{ arg.event.title }}</b></p>
            <p class="text-xs text-ellipsis truncate">
              {{dateService.formatDateTimeRange(arg.event.start, arg.event.end)}}
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </full-calendar>
</div>
